#! /usr/bin/env python

PACKAGE='omni_vision'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#  Name   Type    Reconfiguration level  Description   Default    Min   Max

gen.add("ball_show",         bool_t,  0,   "show the ball",       False)
gen.add("whites_show",       bool_t,  0,   "show the white_points",     False)
gen.add("obstacles_show",    bool_t,  0,   "show the obstacles",  False)
gen.add("scanpoints_show",   bool_t,  0,  "show the scanpoints", False)
exit(gen.generate(PACKAGE, "omni_vision", "OmniVision"))
